.chartItem {
  width: 100%;
  max-width: 90%;
  padding: 10px;
  margin-bottom: 20px;
  background-color: rgba(131, 148, 193, 0.7);
  border-radius: 10px;
}

/* @media (max-width: 575px) {
  .chartItem {
    width: 100%;
    max-width: 90%;
    padding: 2px;
    margin-bottom: 20px;
    background-color: rgba(131, 148, 193, 0.7);
    border-radius: 5px;
  }
} */