main {
  background-color: rgb(240, 240, 237);
}

.charts {
  display: flex;
  /* width: 70%;
  margin-left: 15%;
  margin-right: 15%; */
  justify-content: center;
  align-items: start;
}

.chart {
  width: 80%;
  padding: 10px;
  margin: 0 20px 20px 20px;
  background-color: rgba(131, 148, 193, 0.7);
  border-radius: 10px;
}

.typeFilter h4 {
  margin: 0;
}

.typeFilter select:hover {
  cursor: pointer;
}

.filters {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 50px;
}

.filters button {
  width: 20%;
  max-width: 160px;
  min-height: 42px;
  font-family: "Open Sans Bold", sans-serif;
  font-size: 16px;
  background-color: #8FA5DE;
  border: none;
  border-radius: 15px;
  transition: 0.3s;
}

.filters button:hover {
  cursor: pointer;
  background-color: #8394C1;
}

@media (max-width: 575px) {
  .charts {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }

  .header {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .charts {
    width: 95%;
    margin-left: 2.5%;
    margin-right: 2.5%;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .charts {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
  }
}

/* @media (min-width: 992px) and (max-width: 1199px) {
  .filmItem {
    max-width: 30%;
  }
}
@media (min-width: 1200px) and (max-width: 1499px) {
  .filmItem {
    max-width: 30%;
  }
}
@media (min-width: 1500px) and (max-width: 1699px) {
  .filmItem {
    max-width: 25%;
  }
}
@media (min-width: 1700px) {
  .filmItem {
    max-width: 20%;
  }
} */