.header {
  display: flex;
  width: 100%;
  color: #FFFFFF;
  background-color: #8394C1;
  justify-content: center;
  align-items: center;
}

.logo {
  display: flex;
  width: 10%;
  justify-content: center;
}

.title {
  display: flex;
  width: 70%;
  justify-content: center;
}

nav {
  display: flex;
  width: 20%;
  flex-direction: column;
  justify-content: end;
  align-items: center;
}

nav button {
  max-width: 200px;
  min-width: 200px;
  min-height: 70px;
  font-family: "Open Sans Bold", sans-serif;
  font-size: 16px;
  background-color: #D9D9D9;
  border: none;
  border-radius: 15px;
  margin: 10px;
  padding: 10px;
  transition: 0.3s;
}

nav button:hover {
  cursor: pointer;
  background-color: #A2CA82;
}

.danger {
  background-color: #A54545;
}