@font-face {
  font-family: "Open Sans Regular";
  src: url("./assets/fonts/OpenSans-Regular.ttf");
}

@font-face {
  font-family: "Open Sans Bold";
  src: url("./assets/fonts/OpenSans-Bold.ttf");
}

html {
  font-family: "Open Sans Regular", sans-serif;
}
